/* default setup for mobile first */
body {
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  /* 1 large top row with small footer row */
  grid-template-rows: 1fr 90px;
  grid-template-columns: 1fr 90px;
  grid-template-areas: "content content content"
                        "content content content"
                        "footer content content";
}

/* larger screens */
@media only screen and (min-width: 600px) {
  body {
    grid-template-columns: 40px 1fr;
    /* CSS grid property for assigning grid areas */
    grid-template-areas: "sidebar  content"
                         "footer  footer";
  }
}

.main {
  background-color: #2c3e50;
  grid-area: content;
}

.main__header {
  color: white;
  display: grid;
  grid-template-areas: "img"
                      "dtls";
}

.main__header > .img {
  grid-area: img;
}

.main__header > .details {
  grid-area: dtls;
}

/* for mobile screens */
@media screen and (max-width: 600px) {
  .main__header {
    justify-items: center;
  }
  .main__header > .details {
    text-align: center;
  }
  .sm--hide {
    display: none;
  }
  .img > img {
    width: 150px;
  }
}


.aside {
  color: rgba(255,255,255,0.8);
  background-color: #7f8c8d;
  grid-area: sidebar;
}

/* hide sidebar icons on mobile, aside is only for larger screens */
.aside i {
  display: none;
}

/* show sidebar on larger screens with icons */
@media only screen and (min-width: 600px) {
  .aside {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .aside i {
    display: block;
    border: 1px solid red;
  }
}

.footer {
  background-color: #c0392b;
  grid-area: footer;
}
